
.header-my-info .fa {
	color: #A50505;
}
.header-my-info .fa:hover {
	color: #D00707;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.text-center {
	text-align: center;
}

.section {
	background: #f5f5f5;
	padding: 10px;
    border-radius: 3px;
}

.avatar {
	width: 150px;
}

.header {
	background-color: #f5f5f5;
	border-top: 5px solid #A50505;
	border-radius: 0px;
	padding: 2rem;
	text-align: center;
}

.btn-contact, .btn-contact:hover, .btn-contact:active {
	background-color: #A50505;
	color: #FFF;
}

@media screen and (min-width: 992px) {
	.header{
		text-align: left;
	}
}

.stack-img {
	width: 200px;
}